/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
h6 {
  font-size: 1.1rem;
  margin: 0;
}

.bg-red {
  background-color: #f72210;
}

.bg-yellow {
  background-color: #ffe400;
}

.bg-light-gray {
  background-color: #e7e7e8;
}

.bg-opacity-gray {
  background-color: #e7e7e8;
  opacity: 0.9;
}

.font-small {
  font-size: 0.8rem;
}

.border-gray {
  border: lightgray 1px solid;
}

a {
  text-decoration: none;
  color: #000;
}

.line {
  content: "";
  height: 1px;
  width: 100%;
  background-color: lightgray;
}

.red-underline:hover {
  text-decoration: red underline;
  text-decoration-thickness: 2px;
  color: #000;
}

.hover-dark:hover {
  color: #000;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* Animation  */
@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }

  10% {
    transform: rotate(0.1turn);
  }

  20% {
    transform: rotate(0.2turn);
  }

  30% {
    transform: rotate(0.3turn);
  }

  40% {
    transform: rotate(0.4turn);
  }

  50% {
    transform: rotate(0.5turn);
  }

  60% {
    transform: rotate(0.6turn);
  }

  70% {
    transform: rotate(0.7turn);
  }

  80% {
    transform: rotate(0.8turn);
  }

  90% {
    transform: rotate(0.9turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

/* Navigation */

.top-nav .logo {
  width: auto;
  height: 1.5rem;
  animation: rotation 0.9s ease-in 2s 3 alternate none;
}

header .fa-bars {
  opacity: 0.5;
  font-size: 1.5rem;
}

.bottom-nav ul {
  overflow-y: hidden !important;
}

.search-nav input {
  width: 60px;
  background-color: #f8f9fa;
  outline: none;
  border: none;
}

.search-nav i {
  font-size: 1.2rem;
  color: #787878;
}

/* Debate  */
.debate .article-img {
  width: 65px;
}

.vs {
  height: 30px;
  width: 30px;
  color: #fff;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 5px;
  top: 43%;
  left: 43%;
}

/* Form  */

form img,
.block-title img {
  width: 30px;
  height: 30px;
}

form .form-group {
  width: 300px;
  background-color: #f4f5f6;
  border: 1px solid lightgray;
}

/* Magazine */
.see-all:hover {
  background-color: lightgray;
}

/* Subscribe  */
.covers {
  width: 250px;
  height: 245px;
}

/* Newsletter  */
.newsletter img {
  height: 170px;
  width: 100%;
}

/* Footer */

.footer-top img {
  height: 3rem;
}

footer .footer-top {
  border-bottom: 1px gray solid;
}

@media screen and (min-width: 720px) {
  .my-turn img {
    width: 100%;
    height: auto;
  }

  .center .card {
    width: 350px;
    margin: auto;
  }

  .in-magazine .block-title {
    border-bottom: lightgray 1px solid;
    margin-bottom: 1rem;
  }

  /* Newsletter  */
  .newsletter img {
    height: 200px;
    width: 100%;
  }

  .newsletter .card-img-top,
  .newsletter .card-body {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .top-nav {
    padding: 120px;
  }

  .top-nav .logo {
    width: auto;
    height: 4rem;
  }

  /* Magazine  */
  .in-magazine h6,
  .magazine h5 {
    font-size: 1.3rem !important;
  }

  /* Subscribe and Newsletter  */
  .newsletter {
    height: 311px;
  }

  .newsletter .card-img-top {
    height: 100%;
  }

  .sub {
    width: 55%;
  }

  .letter {
    width: 40%;
  }
}
