/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
h6 {
  font-size: 1.1rem;
  margin: 0 
}

.bg-red {
  background-color: #f72210 !important;
}

.bg-yellow {
  background-color: #ffe400;
}

.bg-light-gray {
  background-color: #e7e7e8;
}

.bg-opacity-gray {
  background-color: #e7e7e8;
  opacity: 0.9;
}

.font-small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #000;
}

.red-underline:hover {
  text-decoration: red underline;
  text-decoration-thickness: 2p;
  color: #000;
}
/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* Navigation */

.top-nav .logo {
  width: auto;
  height: 1.5rem;
}

header .fa-bars {
  opacity: 0.5;
  font-size: 1.5rem;
}

nav {
  position: relative;
}

.search-nav {
  position: absolute;
  right: 5px;
  top: 20px;
}

.search-nav input {
  width: 60px;
  background-color: #f8f9fa;
  outline: none;
  border: none;
}

.search-nav i {
  font-size: 1.2rem;
  color: #787878;
}

/* Debate  */
.debate .article-img {
  width: 65px ;
}



.vs {
  height: 30px;
  width: 30px;
  color: #fff;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 5px;
}

/* Footer */

.footer-top img {
  height: 3rem;
}

footer .footer-top {
  border-bottom: 1px gray solid;
}

@media screen and (min-width: 992px) {
  .top-nav {
    padding: 120px;
  }

  .top-nav .logo {
    width: auto;
    height: 4rem;
  }
}
