/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

.bg-danger {
  background-color: #f72210 !important;
}
.bg-yellow {
  background-color: #ffe400;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* Navigation */

.top-nav .logo {
  width: auto;
  height: 1.5rem;
}

header .fa-bars {
  opacity: 0.5;
  font-size: 1.5rem;
}

/* Footer */

.footer-top img {
  height: 2.5rem;
}

@media screen and (min-width: 992px) {
  .top-nav {
    padding: 120px;
  }
  .top-nav .logo {
    width: auto;
    height: 4rem;
  }
}
